//設定部落格背景
body {
    background:url(/images/bg.jpg); //圖片路徑
    background-repeat: no-repeat; //不重複
    background-attachment:fixed; //不管頁面怎麼滾，背景都不會動
    background-size: cover; //使背景圖放大至內容的大小
    background-position:50% 50%; //背景位置置中
}
.content-wrap {
  opacity: 0.95;
}